<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama Bank</th>
      <th>Nama Pemilik</th>
      <th>Nomor Rekening</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < bank.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= bank[i].bankName %></td>
      <td><%= bank[i].name %></td>
      <td><%= bank[i].noRekening %></td>
      <td>
        <form
          action="/bank/<%= bank[i].id %>/delete?_method=DELETE"
          method="POST"
        >
          <a href="/bank/<%= bank[i].id %>/edit" class="btn btn-info btn-sm"
            ><i class="fas fa-pencil-alt"></i> Edit</a
          >
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i> Delete
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
